
#contacts-content > div.header {
	padding:5px 5px 5px 5px;
	background:rgba(227,233,255,1);
	border-top:solid 1px rgba(204,204,204,1);
	border-bottom:solid 1px rgba(204,204,204,1);
	margin:0 0 3px 0;
}

#contacts-content > div.contact {
	padding:1px 0px 1px 0px;
	cursor:pointer;
}
#contacts-content > div.contact *{
	cursor:pointer;
}
#contacts-content > div.contact:hover {
	background:rgba(227,233,255,1);
}
#contacts-content > div.contact.checked {
	background:rgba(102,136,238,1);
	color:rgba(255,255,255,1);
}
#contacts-content > div.contact.checked span{
	font-weight:bold;
}
#contacts-content > div.contact  input[type='checkbox'] {
	margin:0px 5px 0px 5px;
}
