#groups-content > div.group {
	cursor:pointer;
}
#groups-content > div.group:hover {
	background:rgba(227,233,255,1);
}
#groups-content > div.group.checked {
	background:rgba(102,136,238,1);
	color:rgba(255,255,255,1);
}
#groups-content > div.group.checked span{
	font-weight:bold;
}
#groups-content > div.group  *{
	cursor:pointer;
}
#groups-content > div.group.all-group {
	border-top:solid 1px rgba(204,204,204,1);
}
#groups-content > div.group > div{
	padding:5px 10px 5px 10px;
}

#groups-content > div.line {
	height:1px;
	margin:1px 5px 3px 5px;
	border-top:1px solid rgba(187,204,255,1);
}
