.ico{
	background-image: url("images/ctd-sprites.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 22px;
	height: 22px;
	display: block;
	float: left;
}

.icoAdd{
	background-position: -68px -30px;
}

.icoEdit{
	background-position: -45px -26px;
}

.icoDel{
	background-position: -40px -56px;
}

.icoContact{
	background-position: -20px -55px;
}

.icoGroup{
	background-position: -20px -25px;
}

.icoDown{
	background-position: -68px -56px;
}
