/* -- main --*/
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	cursor: default;
}
@font-face {
  font-family: Chalkduster;
  src: url(Chalkduster.ttf);
}

body{
	background: #ffffff;
	font-family: Arial;	
	margin: 30px;
}


li{
	list-style: none;
	margin-bottom: 3px;
	border: solid 1px #aaaaaa;
	padding: 3px 5px;	
	height:20px;
}
			
			
.del{
	font-family: courier;
	font-size: 14px;
	float: right;
	cursor: pointer;
	color:blue;
}

.edit{
	cursor: pointer;
	color:blue;
}

button{
	padding: 5px 7px;
	font-size: 13px;
	cursor: pointer;
}
a{color:#006600;}
a:link{ text-decoration: none;color:#006600;}
a:active{ text-decoration:blink}
a:hover{ text-decoration:underline;color: red;cursor:pointer} 
a:visited{ text-decoration: none;}
/* -- /main --*/

.div-lblVal{
    margin: 10px 0 10px 0;
}

.div-lbl{
    float: left;
    width: 110px;
    display: block;
}

.div-val{
    margin: 0 0 0 110px;
    display: block;
}


/*-- panel --*/
.panel{
	padding-bottom: 10px;
	border: solid 1px #BCF;
	background-repeat: repeat-x;
	-webkit-transition: all .3s ease-in-out;
}

.panel-header{
	border-bottom: solid 1px #333333;
	padding: 10px;
	cursor: pointer;
	font-size: 12px;
}

.panel-header > h1{
	text-align: center;	
	margin: 2px 0;
	font-weight: normal;
	font-size: 20px;
	text-shadow:rgba(255,255,255,.5) 0px 1px 0, #000 0 1px 0;
	letter-spacing: .1em;
}
.panel-header > button.action{
	float: right;
}
.panel-content{
	font-size: 11px;
}
/*-- /panel --*/


#container{
	width:950px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

#groupList{
	left: 20px;
	width: 300px;
	float:left;
	margin-right:5px;
	position: absolute;
}
#contactList{
	width: 600px;
	position: absolute;
    right: 0;
    left: 330px;
    overflow: auto;
	float:left;
}