/* -- main --*/
*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	cursor: default;
}
@font-face {
  font-family: Chalkduster;
  src: url(Chalkduster.ttf);
}

body{
	background: #ffffff;
	font-family: Arial;	
	margin: 30px;
}


			
			
.del{
	font-family: courier;
	font-size: 14px;
	float: right;
	cursor: pointer;
	color:blue;
}

.edit{
	cursor: pointer;
	color:blue;
}

button{
	padding: 5px 7px;
	font-size: 13px;
	cursor: pointer;
}
/* -- /main --*/

.div-lblVal{
    margin: 10px 0 10px 0;
}

.div-lbl{
    float: left;
    width: 110px;
    display: block;
}

.div-val{
    margin: 0 0 0 110px;
    display: block;
}


/*-- panel --*/
.panel{
	border: solid 1px #BCF;
	font-size: 11px;
	width:100%;
	height:100%;
	margin:0;
	overflow:auto;
	overflow-x:hidden;
}
/*-- /panel --*/
