.mainScreen{
	border:1px solid rgba(102,136,238,1);
	width:1200px;
	height:500px;
	margin:0 auto;
}

.mainScreen > .top{
	width:100%;
	padding:3px 0 1px 0;
	background:rgba(187,204,255,1);
}
.mainScreen > .top .btnLog{
	float:right;
	margin:0px 5px 0px 0px;
}

.mainScreen > .center{
	height:456px;
	padding:0;
	position:relative;
}

.mainScreen > .center #fstCol{
	position:absolute;
	width:250px;
	left:0;
	top:0;
}

.mainScreen > .center #secCol{
	width: 300px;
	position:absolute;
	left:250px;
	top:0;
}

.mainScreen > .center #trdCol{
	position:absolute;
	width:648px;
	left:550px;
	top:0;
}
.mainScreen > .center #trdCol .main > .main-header{
	padding:8px 0 6px 0;
	background:rgba(227,233,255,1);
	border-top:solid 1px rgba(204,204,204,1);
	border-bottom:solid 1px rgba(204,204,204,1);
	position:relative;
}
.mainScreen > .center #trdCol .main > .main-header > .del{
	position:absolute;
	right:5px;
	z-index:2;
}
.mainScreen > .center #trdCol .main > .main-content {
	padding:5px 0px 0px 15px;
}

.mainScreen > .center #trdCol .main > .main-content p.name{
	font-size:14px;
	font-weight:bold;
	margin: 0 0 10px 0;
}
.mainScreen > .center #trdCol .main > .main-content .item{
	padding:5px 5px 5px 5px;
	margin:15px 150px 15px 15px;
	border-top:solid 1px rgba(227,233,255,1);
}
.mainScreen > .bottom{
	width:100%;
	height:10px;
	background:rgba(187,204,255,1);
}

