<!-- contactInfo Component -->
<script type="text/javascript">

	snow.ui.registerComponent("contactInfo",
		{
			parent: "#trdCol-content",
			emptyParent:true
		},
		{
		build: function(data){
			var contact = {};
			if(data && data.id){
				var contactId  = data.id;
				contact = snow.dm.get("contact",contactId);
			}
			var $e = $("#tmpl-contactInfo").tmpl(contact);
			return $e;
		},
		postDisplay:function(){
		}
	});

</script>
<!--  /contactInfo Component -->

<script id="tmpl-contactInfo" type="text/html">
	<div>
			<p class="name">${name}</p>
			<p class="email">
				{{each emails}}
					${this}
				{{/each}}
			</p>
	</div>
</script>

