<!-- contactInfo Component -->
<script type="text/javascript">

	snow.ui.registerComponent("contactInfo",
		{
			parent: "#trdCol",
			emptyParent:true
		},
		{
		build: function(data){
			var contacts = [];
			if(data && data.ids){
				/*-- wrap group for each contact --*/
				for(var i = 0;i < data.ids.length; i++){
					var contactId  = data.ids[i];
					contact = snow.dm.get("contact",contactId);
					contact.groups = [];
					if(contact.groupIds){
						for(var j=0;j<contact.groupIds.length;j++){
							var group = snow.dm.get("group",contact.groupIds[j]);
							contact.groups.push(group);
						}
					}
					contacts.push(contact);
				}
				/*-- /wrap group for each contact --*/
			}
			var $e = $("#tmpl-contactInfo").tmpl({contacts:contacts});
			return $e;
		},
		postDisplay:function(data){
			var thisComponent = this;
			var $element = this.$element;
			var id = $element.find(".main-content .contact[data-obj_id]").attr("data-obj_id");
			
			//user click button edit which not disabled
			$element.find(".btnEdit:not(.disable)").click(function(){
				snow.ui.display("contactForm",{id:id});
			});
			
			//user click button delete contact which not disabled
			$element.find(".btnDeleteContact:not(.disable)").click(function(){
				for(var i=0;i<data.ids.length;i++){
					var id = data.ids[i];
					ng.daos.deleteContact(id,function(){
						snow.ui.display("contactInfo");
						snow.ui.display("contact");
					});
				}
			});
			
			//user click button group which not disabled
			$element.find(".btnGroup:not(.disable)").click(function(){
				var $button = $(this);
				var left = $button.offset().left;
				var top = $button.offset().top+28;
				snow.ui.display("selectGroup",{left:left,top:top,contactIds:data.ids});
			});
			
			//user click button delete group
			$element.delegate(".group .groupDel","click",function(){
				var $button = $(this);
				var groupId = $button.closest(".group").attr("data-obj_id");
				var contactId = $button.closest(".contact").attr("data-obj_id");
				var group = snow.dm.get("group",groupId);
				var contact = snow.dm.get("contact",contactId);
				var dialogComponent = snow.ui.display("dialog",{
						title: "Remove Group",
						prompt: "Are you sure you want to remove group "+group.name+"?",
						okLabel: "Yes",
						cancelLabel: "Cancel"
					});

				dialogComponent.onAnswerOk(function(){
					for(var i=0;i<contact.groupIds.length;i++){
						if(contact.groupIds[i] == groupId){
							snow.dm.remove("groupcontact",{groupId:groupId,contactId:contactId});
							break;
						}
					}
					
					snow.ui.display("contactInfo",data);
				});
			});
			
			
		}
	});

</script>
<!--  /contactInfo Component -->

<script id="tmpl-contactInfo" type="text/html">
	<div class="main">
		<div class="main-header">
			<span class="button btnEdit {{if contacts.length!=1}}disable{{/if}}"><span class="ico icoEdit"></span><span class="text">Edit</span></span>
			<span class="button btnGroup {{if contacts.length<1}}disable{{/if}}"><span class="ico icoGroup"></span><span class="text">Group</span><span class="ico icoDown"></span></span>
			<span class="button btnDeleteContact {{if contacts.length<1}}disable{{/if}} del"><span class="ico icoDel"></span><span class="text">Delete Contact</span></span>
		</div>
		<div class="main-content">
			<div id="contact-info">
				<h2>${contacts.length} contact(s) selected</h2>
				{{each contacts}}
					<div class="item contact" data-obj_id="${id}">
						<p class="name">${name}</p>
						<p class="email">
							{{each emails}}
								${this}
							{{/each}}
						</p>
						<div class="groups">
							<div class="groupLabel">Groups:</div>
							<div class="groupValue">
								{{each groups}}
									<div class="group" data-obj_id="${this.id}">
										<span class="groupName">${this.name}</span>
										<span class="groupDel">X</span>
									</div>
								{{/each}}
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</script>

