<!-- Simple contactsComponent -->
<script type="text/javascript">

	snow.ui.registerComponent("contact",
		{
			parent: "#secCol",
			emptyParent: true
		},
		{
		build: function(data){
			var contacts = snow.dm.find("contact",{});

			/*
if(data && data.groupId){
				var groupContacts = snow.dm.find("groupcontact",{});
				var a = [];
				for(var i = 0; i<groupContacts.length;i++){
					if(groupContacts[i].groupId == data.groupId){
						a.push(groupContacts[i]);
					}
				}
				var b =[];
				for(var i=0; i<a.length;i++){
					for(var j = 0; j<contacts.length;j++){
						if(a[i].contactId == contacts[j].id){
							b.push(contacts[j]);
						}
					}
				}
				contacts = b;
			}
*/
			
			var $e = null;
			$e = $("#tmpl-contactList").tmpl({"contacts":contacts});
		
			return $e;
		},
		postDisplay:function(){
			var thisComponent = this;
			var $element = this.$element;
			$element.delegate(".contact .name","click",function(){
				var $contact = $(this).closest(".contact");
				var id = $contact.attr("data-obj_id");
				snow.ui.display("contactInfo",{id:id});
			});
		}
	});

	
	function deleteContact(id){
		snow.dm.remove("contact",id);
		var groupContacts = snow.dm.find("groupcontact",{});
		for(var i=0;i<groupContacts.length;i++){
			var o = groupContacts[i];
			if(id == o.contactId){
				snow.dm.remove("groupcontact",o.id);
			}
		}
		snow.ui.display("contact");
	}

	function deleteGroupContact(id){
		snow.dm.remove("groupcontact",id);
		snow.ui.display("contact");
	}
</script>
<!--  /Simple contactsComponent -->



<script id="tmpl-contactList" type="text/html">
	<div>
		<div id="contacts-content">
			<div class="header">
				<div>Select: All , None</div>
			</div>
		{{each contacts}}
			<div class="contact" data-obj_type="contact" data-obj_id="${id}" >
				<div><input type="checkbox" name="contactIds" /><span class="name">${name}</span></div>
			</div>	
				<!--<div> 
					<span class="name">Name: <a class="edit" onclick="snow.ui.display('dialogContact',{id:'${id}'})" >${name}</a></span>
					<span>Address: ${address}</span>
					<span>Phone: ${phone}</span>
				</div> 
				<div class="group"> 
					Groups: 
					{{each groups}}
						<span class="edit groupValue" onclick="deleteGroupContact('${groupContactId}')">${name}&nbsp;&nbsp;x</span>
					{{/each groups}} 
					<span class="edit" onclick="snow.ui.display('groupcontact',{contactId:'${id}'})">(Add Groups)</span>
				</div>
				<div class="del" onclick="deleteContact('${id}')" >Del</div>
				<div class="del"  onclick="snow.ui.display('dialogContact',{id:'${id}'})">Edit&nbsp;</div>
				-->
		{{/each contacts}}
		</div>
	</div>
</script>

