<!-- Simple contactsComponent -->
<script type="text/javascript">

	snow.ui.registerComponent("contact",
		{
			parent: "#secCol",
			emptyParent: true
		},
		{
		build: function(data){
			var contacts = null;
			if (data && data.groupId && data.groupId != "ALL") {
				contacts = snow.dm.find("contact",{groupId:data.groupId});
			}else{
				contacts = snow.dm.find("contact");
			}

			var $e = null;
			$e = $("#tmpl-contactList").tmpl({"contacts":contacts});
		
			return $e;
		},
		postDisplay:function(){
			var thisComponent = this;
			var $element = this.$element;
			$element.delegate(".contact","click",function(){
				var $contact = $(this);
				$element.find(".contact").each(function(){
					disCheck($(this));
				});
				showCheck($contact);
				
				var contactIds = thisComponent.getCheckedContactIds();
				snow.ui.display("contactInfo",{ids:contactIds});
			});
			
			//e.stopPropagation() can not work if use 'delegate'
			$element.find("input").bind("click",function(e){
				e.stopPropagation();
				var $checkbox = $(this);
				var $contact = $(this).closest(".contact");
				toggleCheck($contact);
				
				var contactIds = thisComponent.getCheckedContactIds();
				snow.ui.display("contactInfo",{ids:contactIds});
			});
			
			$element.find("#all").bind("click",function(e){
				e.preventDefault();
				$element.find(".contact").each(function(){
					showCheck($(this));
				});
				var contactIds = thisComponent.getCheckedContactIds();
				snow.ui.display("contactInfo",{ids:contactIds});
			});
			$element.find("#none").bind("click",function(e){
				e.preventDefault();
				$element.find(".contact").each(function(){
					disCheck($(this));
				});
				var contactIds = thisComponent.getCheckedContactIds();
				snow.ui.display("contactInfo",{ids:contactIds});
			});
			
			/*-- drag contact --*/
			$element.find(".contact").dragable({
				helper:function(){
					var $contact = $(this);
					$element.find(".contact").each(function(){
						disCheck($(this));
					});
					showCheck($contact);
					var contactIds = thisComponent.getCheckedContactIds();
					snow.ui.display("contactInfo",{ids:contactIds});
				}
			});
			/*-- /drag contact --*/
			
			//Helper functions
			function showCheck($contact){
				var $checkbox = $contact.find("input");
				$checkbox.attr("checked",true);
				$contact.addClass("checked");
			}
			function disCheck($contact){
				var $checkbox = $contact.find("input");
				$checkbox.removeAttr("checked");
				$contact.removeClass("checked");
			}
			function toggleCheck($contact){
				var $checkbox = $contact.find("input");
				if($checkbox.attr("checked")==true){
					$contact.addClass("checked");
				}else{
					$contact.removeClass("checked");
				}
			}
		},
		getCheckedContactIds:function(){
			var contactIds = [];
			this.$element.find(".contact.checked").each(function(){
				var $contact = $(this);
				var id = $contact.attr("data-obj_id");
				contactIds.push(id);
			});
			return contactIds;
		}
	});

</script>
<!--  /Simple contactsComponent -->



<script id="tmpl-contactList" type="text/html">
	<div>
		<div id="contacts-content">
			<div class="header">
				<div>Select: <a id="all">All</a> , <a id="none">None</a></div>
			</div>
		{{each contacts}}
			<div class="contact" data-obj_type="contact" data-obj_id="${id}" >
				<div><input type="checkbox" name="contactIds" /><span class="name">${name}</span></div>
			</div>	
		{{/each contacts}}
		</div>
	</div>
</script>

