
<script type="text/javascript">
	
	
	snow.ui.registerComponent("contactForm",
		{
			parent: "#trdCol",
			emptyParent:true
		},
		{
		build: function(data){
			var id = null;
			if(data && data.id){
				id = data.id;
			}
			var contact = snow.dm.get("contact",id);
			var $e = $("#tmpl-contactForm").tmpl(contact);
			return $e;
		},
		postDisplay:function(data){
			var component = this;
			var $element = this.$element;
			var id = $element.find("input[name='id']").val();
			$element.find(".btnCancel").click(function(){
				snow.ui.display("contactInfo",{id:id});
			});
			$element.find(".btnOk").click(function(){
				var contact = updateContact();
			});
			
			$element.find(".addEmail").click(function(){
				var $email = $("#tmpl-email").tmpl({showDel:true});
				var $button = $(this);
				$button.closest(".formItem").append($email);
			});
			
			$element.delegate(".delEmail","click",function(){
				var $button = $(this);
				$button.closest(".formItem-value").remove();
			});
			
			// helper functions
			function updateContact(){
				var contact = {};
				contact.id = $element.find("input[name='id']").val();
				contact.name = $element.find("input[name='name']").val();
				contact.address = $element.find("input[name='address']").val();
				contact.phone = $element.find("input[name='phone']").val();
				var emails = [];
				$element.find("input[name='emails']").each(function(){
					var value = $(this).val();
					if(value){
						emails.push(value);
					}
				});
				contact.emails = emails;
				ng.daos.createContact(contact,function(){
					snow.ui.display("contactInfo");
					snow.ui.display("contact");
				});
				return contact;
			}
		}
	});

	
</script>

<!-- templates-->
<script id="tmpl-contactForm" type="text/html">
		<div class="main">
		<div class="main-header">
			<span class="button btnOk"><span class="text">Save</span></span>
			<span class="button btnCancel"><span class="text">Cancel</span></span>
		</div>
		<div class="main-content">
			<form id="contactForm">
				<input name="id" type="hidden" value="${ id }" />
				<div class="formItem">
					<div class="formItem-label">Name:</div>
					<div class="formItem-value">
						<input name="name" autocomplete="off" type="text" value="${ name }" />
					</div>
				</div>
				<div class="formItem">
					<div class="formItem-label">Email:&nbsp;&nbsp;(<a class="addEmail">Add</a>)</div>
					{{if typeof emails !='undefined' && emails.length>0}}
						{{each emails}}
							{{if $index == 0 }}
								{{tmpl({value:this}) "#tmpl-email"}}
							{{else}}
								{{tmpl({showDel:true,value:this}) "#tmpl-email"}}
							{{/if}}
						{{/each}}
					{{else}}
						{{tmpl() "#tmpl-email"}}
					{{/if}}
				</div>
				<div class="formItem">
					<div class="formItem-label">Address:</div>
					<div class="formItem-value">
						<input name="address" autocomplete="off" type="text" value="${ address }" />
					</div>
				</div>
				<div class="formItem">
					<div class="formItem-label">Phone:</div>
					<div class="formItem-value">
						<input name="phone" autocomplete="off" type="text" value="${ phone }" />
					</div>
				</div>
		</form>
		</div>
	</div>
</script>
<script id="tmpl-email" type="text/html">
	<div class="formItem-value">
		<input name="emails" autocomplete="off" type="text" value="{{if value}}${value}{{/if}}" />
		{{if showDel}}
			&nbsp;&nbsp;<a class="delEmail">Del</a>
		{{/if}}
	</div>
</script>
<!-- /templates -->