
<script type="text/javascript">
	
	
	snow.ui.registerComponent("dialogContact",{
		ctx: {
			parent: "#container"
			},
		build: function(ctx){
			var id = null;
			if(ctx.data && ctx.data.id){
				id = ctx.data.id;
			}
			var contact = snow.dm.get("contact",id);
			var $e = $("#contactFormTmpl").tmpl(contact);
			return $e;
		},
		postDisplay:function(ctx){
			$(".dialog").delegate("button","click",function(){
			   $(this).sComponent$element().sCall("close");		
			});
		},
		methods: {
			close: function(){
				var $element = this;
				$element.remove();
			}
		}
	});

	function updateContact(){
		snow.dm.save("contact",{id:$("#contactId").val(),
								name: $("#contactName").val(),
								address: $("#contactAddress").val(),
								phone: $("#contactPhone").val()});
		snow.ui.display("contact");
	}
</script>

<!-- templates-->
<script id="contactFormTmpl" type="text/html">
		<div class="dialog">
		<div class="dialog-header">
			<button class="ok">X</button>
			<h1 class="appText">Update Contact</h1>
		</div>
		<div class="dialog-content">
			<form id="contactForm">
				<input id="contactId" name="id" type="hidden" value="${ id }" />
				<div class="dialogItem">
					<div class="dialogItem-label">Name:</div>
					<div class="dialogItem-value">
						<input id="contactName" name="name" type="text" value="${ name }" />
					</div>
				</div>
				<div class="dialogItem">
					<div class="dialogItem-label">Address:</div>
					<div class="dialogItem-value">
						<input id="contactAddress" name="address" type="text" value="${ address }" />
					</div>
				</div>
				<div class="dialogItem">
					<div class="dialogItem-label">Phone:</div>
					<div class="dialogItem-value">
						<input id="contactPhone" name="phone" type="text" value="${ phone }" />
					</div>
				</div>

				<div class="action">
					<button id="createBut" type="button" value="save" onclick="updateContact()">Save</button>
					<button onclick="snow.ui.display('contact')">Cancel</button>
				</div>
		</form>
		</div>
	</div>
</script>
<!-- /templates -->