<!-- dialog Component -->
<script type="text/javascript">
    
    snow.ui.registerComponent("dialog", {
        parent: "body"
    }, {
        build: function(data){
            var $e = $("#tmpl-dialog").tmpl(data);
			$("body").append("<div class='dialogScreener'></div>");
            return $e;
        },
        postDisplay: function(data){
			var thisComponent = this;

			var $cancel = this.$element.find(".button.btnCancel");
			
			//user click on button cancel
            $cancel.click(function(){
				thisComponent.setAnswer(false);
                thisComponent.close();
            });
			
			var $ok = this.$element.find(".button.btnOk");
			
			//user click on button ok
            $ok.click(function(){
                thisComponent.setAnswer(true);
            });

        },
		//element remove when call this method
        close: function(){
            this.$element.remove();
            //remove the screener
            $("body > .dialogScreener").remove();
            $("body").unbind("keyup.dialog");
        },
		//set answer call back
		onAnswer: function(answerCallBack){
            this._answerCallBack = answerCallBack;
        },
		//set answer ok call back
		onAnswerOk: function(answerOkCallBack){
            this._answerOkCallBack = answerOkCallBack;
        },
		//call the method when user click button ok or cancel
		setAnswer: function(ok){
			//always call
			if (this._answerCallBack) {
				this._answerCallBack();
			}
			//call if ok
			if (this._answerOkCallBack && ok){
				this._answerOkCallBack();
			}
            this.close();
        }
    });
    
</script>
<!--  /dialog Component -->
<script id="tmpl-dialog" type="text/html">
	<div class="dialog">
        <div class="dialog-header">${title}</div>
        <div class="dialog-content">{{if prompt}} {{html prompt}} {{else}} Are you sure {{/if}}</div>
        <div class="dialog-buttonbar">
            <span class="button btnOk"><span class="text">{{if okLabel}} ${okLabel} {{else}} Ok {{/if}}</span></span>
            <span class="button btnCancel"><span class="text">{{if cancelLabel}} ${cancelLabel} {{else}} Cancel {{/if}}</span></span>
        </div>
    </div>
</script>
