
<script type="text/javascript">
	
	
	snow.ui.registerComponent("dialogGroup",
		{
			parent: "#container"
		},
		{
		build: function(data){
			var id = "";
			if(data && data.id){
				id = data.id;
			}
			var group = snow.dm.get("group",id);
			var $e = $("#groupFormTmpl").tmpl(group);
			return $e;
		},
		postDisplay:function(data){
			var component = this;
			$(".dialog").delegate("button","click",function(){
			   component.close();	
			});
		},
		close: function(){
            this.$element.remove();
        }
	});

	function updateGroup(){
		snow.dm.save("group",{id:$("#groupId").val(),name: $("#groupName").val()});
		snow.ui.display("group");
	}

</script>

<!-- templates-->
<script id="groupFormTmpl" type="text/html">
	<div class="dialog">
		<div class="dialog-header">
			<button class="ok">X</button>
			<h1 class="appText">Update Group</h1>
		</div>
		<div class="dialog-content">
			<form id="groupForm">	
				<input id="groupId" name="id" type="hidden" value="${ id }" />
				<div class="dialogItem">
					<div class="dialogItem-label">Name:</div>
					<div class="dialogItem-value">
						<input id="groupName" name="name" type="text" value="${name}" />
					</div>
				</div>
				<div class="action">
					<button onclick="updateGroup()" >save</button>
					<button onclick="snow.ui.display('group')">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</script>
<!-- /templates -->
