
<script type="text/javascript">
	
	
snow.ui.registerComponent("groupcontact",{
		ctx: {
			parent: "#container"
			},
		build: function(ctx){
			var contactId = ctx.data.contactId;
			var contact = snow.dm.get("contact",contactId);
			var groups = snow.dm.find("group",{});
			contact.groupsList = groups;
			var $groupContactForm = null;
			$groupContactForm = $("#groupContactFormTmpl").tmpl(contact);
			return $groupContactForm;
		},
		postDisplay:function(ctx){
			$(".dialog").delegate("button","click",function(){
			   $(this).sComponent$element().sCall("close");		
			});
		},
		methods: {
			close: function(){
				var $element = this;
				$element.remove();
			}
		}
	});

function updateGroupContact(){
	var groupContacts = snow.dm.find("groupcontact",{});
	var contactId = $("#updateGroupContact").find("input[name='contactId']").val();
	for(var i=0;i<groupContacts.length;i++){
		var o = groupContacts[i];
		if(contactId == o.contactId){
			snow.dm.remove("groupcontact",o.id);
		}
	}
	
	$("#updateGroupContact").find("input[name='groupIds']:checked").each(function(){
		var groupContact = {};
        groupContact.contactId=contactId;
		groupContact.groupId = $(this).val();
		snow.dm.save("groupcontact",groupContact);
	});
	snow.ui.display("contact");
}

function getChecked(groupId){
	var groups = this.data.groups;
	for(var i=0; i<groups.length;i++){
		if(groupId == groups[i].id){
			return "checked";
		}
	}
	return "";
}
</script>


<script id="groupContactFormTmpl" type="text/html">
	<div class="dialog">
		<div class="dialog-header">
			<button class="ok">X</button>
			<h1 class="appText">Select Groups</h1>
		</div>
		<div class="dialog-content">
			<h3 style="text-align:center">Contact Name:${name}</h3>
			<br/>
			<form id="updateGroupContact" >
			<input type="hidden" name="contactId" value="${id}">
			<div class="dialogItem">
				<div class="dialogItem-label">Groups:</div>
				<div class="dialogItem-value">
					{{each groupsList}}
				<input type="checkbox" name="groupIds" ${getChecked(id)} value="${id}">${name} <br/>
			{{/each groupsList}}
				</div>
			</div>

				<div class="action">
					<button type="button" class="submitBtn" value="save" onclick="updateGroupContact()">Save</button>
					<button onclick="snow.ui.display('contact')">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</script>

