<!-- groupInfo Component -->
<script type="text/javascript">

	snow.ui.registerComponent("groupInfo",
		{
			parent: "#trdCol-content",
			emptyParent:true
		},
		{
		build: function(data){
			var group = {};
			if(data && data.id){
				var groupId  = data.id;
				group = snow.dm.get("group",groupId);
			}
			var $e = $("#tmpl-groupInfo").tmpl(group);
			return $e;
		},
		postDisplay:function(){
		}
	});

</script>
<!--  /groupInfo Component -->

<script id="tmpl-groupInfo" type="text/html">
	<div id="groupInfo-content">
		<p class="name">${name}</p>
	</div>
</script>

