<!-- Simple groupsComponent -->
<script type="text/javascript">

	snow.ui.registerComponent("group",
		{
			parent: "#fstCol",
			emptyParent: true
		},
		{
		build: function(data){
			var groups = snow.dm.find("group",{});
			var $group = null;
			$group = $("#tmpl-groupList").tmpl({"groups":groups});
		
			return $group
		},
		postDisplay:function(){
			var thisComponent = this;
			var $element = this.$element;
			$element.delegate(".group ","click",function(){
				var $group = $(this);
				
				$("#groups-content").find(".group").removeClass("checked");
				$group.addClass("checked");
				
				var id = $group.attr("data-obj_id");
				snow.ui.display("groupInfo",{id:id});
				
				snow.ui.display("contact",{groupId:id});
			});
		}
	});


</script>
<!--  /Simple groupsComponent -->



<script id="tmpl-groupList" type="text/html">
	<div>
		<div id="groups-content">
				<div class="group all-group" data-obj_type="group">
					<div><a class="edit" onclick="snow.ui.display('contact')">All Groups</a></div>
				</div>
				<div class="line" />
				{{each groups}}
					<div class="group" data-obj_type="group" data-obj_id="${id}">
						<div><span class="name">${name}</span></div>
					</div>	
				{{/each groups}}
				<div class="line" />
				<div class="group recent-group" data-obj_type="group">
					<div><a class="edit" onclick="snow.ui.display('contact')">Recent Contacts</a></div>
				</div>
		</div>
	</div>
</script>

