<!-- groupInfo Component -->
<script type="text/javascript">

	snow.ui.registerComponent("groupInfo",
		{
			parent: "#trdCol",
			emptyParent:true
		},
		{
		build: function(data){
			var group = {};
			var contacts = snow.dm.find("contact");
			var contactsNumber = 0;
			if(data && data.id!=""){
				// test param id , if all, select all groups, if recent,select none. else select the group has this id.
				if (data.id == "ALL") {
					group.name = "All Contacts"
					contactsNumber = contacts.length;
					group.disableEdit = true;
					group.disableDel = true;
				}else if(data.id == "RECENT"){
					group.name = "Recent Contacts"
					contactsNumber = 0;
					group.disableEdit = true;
					group.disableDel = true;
				}else{
					var groupId  = data.id;
					group = snow.dm.get("group",groupId);
					for(var j = 0; j<contacts.length; j++){
						var contact = contacts[j];
						if(contact.groupIds){
							for(var k = 0 ; k<contact.groupIds.length;k++){
								if(contact.groupIds[k] == group.id){
									contactsNumber++;
								}
							}
						}
					}
				}
			}else{
				group.disableEdit = true;
				group.disableDel = true;
			}
			group.contactsNumber = contactsNumber;
			var $e = $("#tmpl-groupInfo").tmpl(group);
			return $e;
		},
		postDisplay:function(){
			var thisComponent = this;
			var $element = this.$element;
			var id = $element.find(".main-content .groupInfo[data-obj_id]").attr("data-obj_id");
			
			//user click on button edit if not disable
			$element.find(".btnEdit:not(.disable)").click(function(){
				snow.ui.display("groupForm",{id:id});
			});
			
			//user click on button delete group if not disable
			$element.find(".btnDeleteGroup:not(.disable)").click(function(){
				var dialogComponent = snow.ui.display("dialog",{
					title: "Delete Group",
					prompt: "Are you sure you want to delete group "+group.name+"?",
					okLabel: "Yes",
					cancelLabel: "Cancel"
				});

				dialogComponent.onAnswerOk(function(){
					deleteGroup(id);	
				});
				
			});
			
			/*-- Helper Functions --*/
			
			// delete group
			function deleteGroup(id){
				var callback = function(){
					snow.ui.display("groupInfo");
					snow.ui.display("group");
					snow.ui.display("contact");
				}
				
				ng.daos.deleteGroup(id,callback);
				
			}
			/*-- /Helper Functions --*/
		}
	});
	
</script>
<!--  /groupInfo Component -->

<script id="tmpl-groupInfo" type="text/html">
	<div class="main">
		<div class="main-header">
			<span class="button btnEdit {{if disableEdit}}disable{{/if}}"><span class="ico icoEdit"></span><span class="text">Edit</span></span>
			<span class="button btnGroup disable"><span class="ico icoGroup"></span><span class="text">Group</span><span class="ico icoDown"></span></span>
			<span class="button btnDeleteGroup {{if disableDel}}disable{{/if}} del"><span class="ico icoDel"></span><span class="text">Delete Group</span></span>
		</div>
		<div class="main-content">
			<div class="groupInfo" data-obj_id="${id}">
				<p class="name" >${name}</p>
				<p class="number" >${contactsNumber} contact(s)</p>
			</div>
		</div>
	</div>
</script