<!-- Simple groupsComponent -->
<script type="text/javascript">

	snow.ui.registerComponent("group",
		{
			parent: "#groupList",
			emptyParent: true
		},
		{
		build: function(data){
			var groups = snow.dm.find("group",{});
			var $group = null;
			$group = $("#groupListTmpl").tmpl({"groups":groups});
		
			return $group
		}
	});

	
	function deleteGroup(id){
		snow.dm.remove("group",id);
		var groupContacts = snow.dm.find("groupcontact",{});
		for(var i=0;i<groupContacts.length;i++){
			var o = groupContacts[i];
			if(id == o.groupId){
				snow.dm.remove("groupcontact",o.id);
			}
		}
		snow.ui.display("group");
		snow.ui.display('contact');
	}


</script>
<!--  /Simple groupsComponent -->



<script id="groupListTmpl" type="text/html">
	<div>
		<div id="groups-content">
				<div class="group all-group" data-obj_type="group">
					<div><a class="edit" onclick="snow.ui.display('contact')">All Groups</a></div>
				</div>
				<div class="line" />
				{{each groups}}
					<div class="group" data-obj_type="group" data-obj.id="${id}">
						<div><a class="edit" onclick="snow.ui.display('contact',{groupId:'${id}'})">${name}</a></div>
						<!--
						<span class="del" onclick="deleteGroup('${id}')" >Del</span>
						<span class="del"  onclick="snow.ui.display('dialogGroup',{id:'${id}'})" >Edit&nbsp;</span>
						-->
					</div>	
				{{/each groups}}
				<div class="line" />
				<div class="group recent-group" data-obj_type="group">
					<div><a class="edit" onclick="snow.ui.display('contact')">Recent Contacts</a></div>
				</div>
		</div>
	</div>
</script>

