
<script type="text/javascript">
	
	
	snow.ui.registerComponent("groupForm",
		{
			parent: "#trdCol",
			emptyParent:true
		},
		{
		build: function(data){
			var id = "";
			if(data && data.id){
				id = data.id;
			}
			var group = snow.dm.get("group",id);
			var $e = $("#tmpl-groupForm").tmpl(group);
			return $e;
		},
		postDisplay:function(data){
			var component = this;
			var $element = this.$element;
			var id = $element.find("input[name='id']").val();
			$element.find(".btnCancel").click(function(){
				snow.ui.display("groupInfo",{id:id});
			});
			$element.find(".btnOk").click(function(){
				var group = updateGroup();
				snow.ui.display("groupInfo",{id:group.id});
				snow.ui.display("group");
			});
			
			// helper functions
			function updateGroup(){
				var group = {};
				group.id = $element.find("input[name='id']").val();
				group.name = $element.find("input[name='name']").val();
				snow.dm.save("group",group);
				return group;
			}
		}
	});

	

</script>

<!-- templates-->
<script id="tmpl-groupForm" type="text/html">
	<div class="main">
		<div class="main-header">
			<span class="button btnOk"><span class="text">Save</span></span>
			<span class="button btnCancel"><span class="text">Cancel</span></span>
		</div>
		<div class="main-content">
			<form id="groupForm">	
				<input name="id" type="hidden" value="${ id }" />
				<div class="formItem">
					<div class="formItem-label">Name</div>
					<div class="formItem-value">
						<input name="name" type="text" autocomplete="off" value="${ name }" />
					</div>
				</div>
			</form>
		</div>
	</div>
</script>
<!-- /templates -->
