<!-- Simple groupsComponent -->
<script type="text/javascript">

	snow.ui.registerComponent("group",
		{
			parent: "#fstCol",
			emptyParent: true
		},
		{
		build: function(data){
			var groups = snow.dm.find("group",{});
			var contacts = snow.dm.find("contact",{});
			for(var i = 0; i<groups.length; i++){
				var group = groups[i];
				var contactsNumber = 0;
				for(var j = 0; j<contacts.length; j++){
					var contact = contacts[j];
					if(contact.groupIds){
						for(var k = 0 ; k<contact.groupIds.length;k++){
							if(contact.groupIds[k] == group.id){
								contactsNumber++;
							}
						}
					}
				}
				group.contactsNumber = contactsNumber;
			}
			
			var $e = $("#tmpl-groupList").tmpl({"groups":groups,contacts:contacts});
		
			return $e
		},
		postDisplay:function(){
			var thisComponent = this;
			var $element = this.$element;
			$element.delegate(".group ","click",function(){
				var $group = $(this);
				
				$("#groups-content").find(".group").removeClass("checked");
				$group.addClass("checked");
				
				var id = $group.attr("data-obj_id");
				snow.ui.display("groupInfo",{id:id});
				
				snow.ui.display("contact",{groupId:id});
				
			});
			
			/*-- drop contact --*/
			$element.find(".group").dropable({
				accept:".contact",
				drop: function(e, opt){
					var $group = $(this);
					snow.log.info($group);
					var groupId = $group.attr("data-obj_id");
					$group.removeClass("drop");
					var $contact = opt.dragable;
					var contactId = $contact.attr("data-obj_id");
					var contact = snow.dm.get("contact", contactId);
					if ($.inArray(groupId, contact.groupIds) == -1) {
						//contact.groupIds.push(groupId);
						snow.dm.save("groupcontact",{groupId:groupId,contactId:contactId});
					}
					snow.ui.display("group");
					snow.ui.display("contactInfo",{ids:[contactId]});
				}
			});
			/*-- /drop contact --*/
		}
	});


</script>
<!--  /Simple groupsComponent -->



<script id="tmpl-groupList" type="text/html">
	<div>
		<div id="groups-content">
				<div class="group all-group" data-obj_type="group" data-obj_id="ALL">
					<div><div class="name">(All)</div><div class="number">${contacts.length}</div></div>
				</div>
				<div class="line" />
				{{each groups}}
					<div class="group" data-obj_type="group" data-obj_id="${id}">
						<div><div class="name">${name}</div><div class="number">${contactsNumber}</div></div>
					</div>	
				{{/each groups}}
				<div class="line" />
				<div class="group recent-group" data-obj_type="group" data-obj_id="RECENT">
					<div><div class="name">(Recent Contacts)</div></div>
				</div>
		</div>
	</div>
</script>

