<!-- mainScreen Component -->
<script type="text/javascript">

	snow.ui.registerComponent("mainScreen",
		{
			parent: "#container"
		},
		{
		build: function(){
			var $e = $("#tmpl-mainScreen").tmpl({});
			return $e
		},
		postDisplay:function(){
			snow.ui.display("group");
			snow.ui.display("contact");
			snow.ui.display("contactInfo");
		}
	});

</script>
<!--  /mainScreen Component -->

<script id="tmpl-mainScreen" type="text/html">
	<div class="mainScreen">
		<div class="top">
			<button class="action" onclick="snow.ui.display('dialogGroup',{})">Create Group</button>
			<button class="action"  onclick="snow.ui.display('dialogContact',{})">Create Contact</button>
		</div>
		<div class="center">
			<div id="fstCol" class="panel"></div> 	
			<div id="secCol" class="panel"></div> 
			<div id="trdCol" class="panel">
				<div class="header"></div>
				<div id="trdCol-content" class="content"></div>
			</div>
		</div>
		<div class="bottom"></div> 	
	</div>
</script>

