<!-- mainScreen Component -->
<script type="text/javascript">

	snow.ui.registerComponent("mainScreen",
		{
			parent: "#container",
			emptyParent:true
		},
		{
		build: function(){
			var $e = $("#tmpl-mainScreen").tmpl({});
			return $e
		},
		postDisplay:function(){
			var component = this;
			var $element = this.$element;
			
			snow.ui.display("group");
			snow.ui.display("contact");
			snow.ui.display("welcome");
			
			$element.find(".btnCreateGroup").click(function(){
				snow.ui.display("groupForm");
			});
			
			$element.find(".btnCreateContact").click(function(){
				snow.ui.display("contactForm");
			});
		}
	});

</script>
<!--  /mainScreen Component -->

<script id="tmpl-mainScreen" type="text/html">
	<div class="mainScreen">
		<div class="top">
			<span class="button btnCreateContact"><span class="ico icoAdd"></span><span class="ico icoContact"></span></span>
			<span class="button btnCreateGroup"><span class="ico icoAdd"></span><span class="ico icoGroup"></span></span>
		</div>
		<div class="center">
			<div id="fstCol" class="panel"></div> 	
			<div id="secCol" class="panel"></div> 
			<div id="trdCol" class="panel">
				
			</div>
		</div>
		<div class="bottom"></div> 	
	</div>
</script>

