<!-- selectGroup Component -->
<script type="text/javascript">

	snow.ui.registerComponent("selectGroup",
		{
			parent: "body"
		},
		{
		build: function(data){
			var contactIds = [];
			var groups = snow.dm.find("group");
			var additoryGroups = [];
			var removeableGroups = [];
			var left = 0;
			var top = 0;
			if(data){
				contactIds = data.contactIds;
				left = data.left;
				top = data.top;
				var removeableGroupIds = [];
				/* -- push to removeableGroupIds -- */
				for(var i = 0; i<contactIds.length;i++){
					var contact = snow.dm.get("contact",contactIds[i]);
					if(contact.groupIds){
						for(var j = 0 ;j<contact.groupIds.length;j++){
							var exist = false;
							for(var k = 0;k<removeableGroupIds.length;k++){
								if(contact.groupIds[j]==removeableGroupIds[k]){
									exist = true;
									break;
								}
							}
							if(!exist){
								removeableGroupIds.push(contact.groupIds[j]);
							}
						}
					}
				}
				/* -- /push to removeableGroupIds -- */
				/* -- push to additoryGroupIds -- */
				for(var i = 0;i < groups.length;i++){
					var allHasGroup = true;
					for(var j = 0;j<contactIds.length;j++){
						var contact = snow.dm.get("contact",contactIds[j]);
						var exist = false;
						if(contact.groupIds){
							for(var k = 0;k<contact.groupIds.length;k++){
								if(contact.groupIds[k]==groups[i].id){
									exist = true;
									break;
								}
							}
						}
						if(!exist){
							allHasGroup = false;
							break;
						}
					}
					if(!allHasGroup){
						additoryGroups.push(groups[i]);
					}
				}
				/* -- /push to additoryGroupIds -- */
				//retrieve Group
				for(var i = 0;i<removeableGroupIds.length;i++){
					removeableGroups.push(snow.dm.get("group",removeableGroupIds[i]));
				}
				
			}
			var $e = $("#tmpl-selectGroup").tmpl({additoryGroups:additoryGroups,removeableGroups:removeableGroups,left:left,top:top});
			$("body").append("<div id='selectGroupScreener' class='divScreener'></div>");
			return $e;
		},
		postDisplay:function(data){
			var component = this;
			var $element = this.$element;
			$("#selectGroupScreener").click(function(){
				component.close();
			});
			$element.find(".add .group").bind("click",function(){
				var $group = $(this);
				var groupId = $group.attr("data-obj_id");
				addGroupId(data.contactIds,groupId);
				component.close();
				snow.ui.display("group");
			});
			$element.find(".remove .group").bind("click",function(){
				var $group = $(this);
				var groupId = $group.attr("data-obj_id");
				removeGroupId(data.contactIds,groupId);
				component.close();
				snow.ui.display("group");
			});
			
			//Helper functions
			function addGroupId(contactIds,groupId){
				for (var i = 0; i < contactIds.length; i++) {
					var contact = snow.dm.get("contact", contactIds[i]);
					//alert(JSON.stringify(contact));
					if(!contact.groupIds){
						contact.groupIds = [];
					}
					contact.groupIds.push(groupId);
					snow.dm.save("contact",contact);
				}
			}
			
			function removeGroupId(contactIds,groupId){
				for (var i = 0; i < contactIds.length; i++) {
					var contact = snow.dm.get("contact", contactIds[i]);
					if(!contact.groupIds){
						contact.groupIds = [];
					}
					for(var j=0;j<contact.groupIds.length;j++){
						if(contact.groupIds[j] == groupId){
							contact.groupIds.splice(j,1);
							break;
						}
					}
					snow.dm.save("contact",contact);
				}
			}
		},
		close:function(){
			this.$element.remove();
			$("#selectGroupScreener").remove();
		}
	});

</script>
<!--  /selectGroup Component -->

<script id="tmpl-selectGroup" type="text/html">
	<div class="selectGroup" style="left:${left}px;top:${top}px">
		{{if additoryGroups.length>0}}
			<div class="add">
				<div class="title">Add To Group ...</div>
				{{each additoryGroups}}
				<div class="group" data-obj_id="${id}">${name}</div>
				{{/each}}
			</div>
		{{/if}}
		{{if removeableGroups.length>0}}
			<div class="remove">
				<div class="title">Remove From Group ..</div>
				{{each removeableGroups}}
				<div class="group" data-obj_id="${id}">${name}</div>
				{{/each}}
			</div>
		{{/if}}
	</div>
</script>

